# upsampling, downsampling

In [1]:
# we need to generate a random data set -> import numpy and pandas
import numpy as np
import pandas as pd




# we will create two class dataset
nSample= 1000
class0ratio=0.9
nClass0= int(nSample * class0ratio)
nClass1=nSample - nClass0

nClass0, nClass1

(900, 100)

In [2]:
## CREATE MY DATAFRAME WITH IMBALANCED DATASET
class0 = pd.DataFrame({
    'feature1': np.random.normal(loc=0, scale=1, size=nClass0),
    'feature2': np.random.normal(loc=0, scale=1, size=nClass0),
    'target': [0] * nClass0 # number of zero = 900
})
# we will create two dataframes and do normal distribution
# feature-> random normal distributon; location~ mean, scale~ standard deviation, size: 900 for class0

class1 = pd.DataFrame({
    'feature1': np.random.normal(loc=2, scale=1, size=nClass1),
    'feature2': np.random.normal(loc=2, scale=1, size=nClass1),
    'target': [1] * nClass1 # number of one= 100
})

In [3]:
class0, class1

(     feature1  feature2  target
 0   -0.099972 -1.423237       0
 1    0.309831  0.137987       0
 2   -0.712314 -0.127424       0
 3   -1.344237  0.583678       0
 4   -0.086974 -0.941683       0
 ..        ...       ...     ...
 895  0.552629  1.341791       0
 896 -0.848672 -0.589710       0
 897  1.956002  0.790868       0
 898 -0.657914  1.063787       0
 899  1.344814 -2.409334       0

 [900 rows x 3 columns],
     feature1  feature2  target
 0   1.931412 -0.100279       1
 1   0.648426  4.266403       1
 2   1.762320  2.007458       1
 3   1.322521  1.215657       1
 4   4.608649  0.549301       1
 ..       ...       ...     ...
 95  2.639349  1.582189       1
 96  0.280187  1.325912       1
 97  1.567735  2.067234       1
 98  0.007591  2.437277       1
 99  0.737827  3.191455       1

 [100 rows x 3 columns])

In [7]:
df=pd.concat([class0, class1]).reset_index(drop=True) 
df
# merge the two dataframes and then delete the duplicate one's

     feature1  feature2  target
0   -0.099972 -1.423237       0
1    0.309831  0.137987       0
2   -0.712314 -0.127424       0
3   -1.344237  0.583678       0
4   -0.086974 -0.941683       0
..        ...       ...     ...
995  2.639349  1.582189       1
996  0.280187  1.325912       1
997  1.567735  2.067234       1
998  0.007591  2.437277       1
999  0.737827  3.191455       1

[1000 rows x 3 columns]

In [11]:
df['target'].value_counts()
# this return the count of different values like zero and one here

target
0    900
1    100
Name: count, dtype: int64

# now we will do upsampling

In [16]:
# we need to make minority and majority of dataframe
dfMinority=df[df['target']==1]
dfMajority=df[df['target']==0] # this target is equated to the value that we are getting like 900 zeros and 100 one

In [17]:
dfMinority.head()

     feature1  feature2  target
900  1.931412 -0.100279       1
901  0.648426  4.266403       1
902  1.762320  2.007458       1
903  1.322521  1.215657       1
904  4.608649  0.549301       1

In [18]:
dfMajority.head()

   feature1  feature2  target
0 -0.099972 -1.423237       0
1  0.309831  0.137987       0
2 -0.712314 -0.127424       0
3 -1.344237  0.583678       0
4 -0.086974 -0.941683       0

# now PERFORM UPSAMPLING-> for that we will need rescale library

In [37]:
# now PERFORM UPSAMPLING-> for that we will need rescale libraryfrom sklearn.utils import resample

In [32]:
# to upsample-> increase data point: FOR MINORITY
dfMinorityUpSample=resample(dfMinority, # which we have to upsample
                           replace=True, # implement sample with replacement, will add more additional sample
                            # downsampling me replace ko false krdena hai bas
                           n_samples=len(dfMajority), # how many sample i have to make: TO MATCH THE MAJORITY CLASS
                           random_state=42 # ANY value
                           )

# n_sample aur random_state, if we make a mistake in this name; we will face an error because this library is very strict on its naming

In [33]:
dfMinorityUpSample.head()

     feature1  feature2  target
951  1.924370  2.387314       1
992  2.287587  4.297742       1
914  2.936113  2.364078       1
971  2.380046 -0.282471       1
960  2.126606  2.585348       1

In [35]:
dfMinorityUpSample['target'].value_counts()

target
1    900
Name: count, dtype: int64

In [36]:
dfMinorityUpSample.shape

(900, 3)

     feature1  feature2  target
0   -0.099972 -1.423237       0
1    0.309831  0.137987       0
2   -0.712314 -0.127424       0
3   -1.344237  0.583678       0
4   -0.086974 -0.941683       0
..        ...       ...     ...
995  2.639349  1.582189       1
996  0.280187  1.325912       1
997  1.567735  2.067234       1
998  0.007591  2.437277       1
999  0.737827  3.191455       1

[1000 rows x 3 columns]

In [43]:
dfMajority.shape

(900, 3)

In [47]:
dfUpSampled=pd.concat([dfMajority,dfMinorityUpSample])

In [48]:
dfUpSampled

     feature1  feature2  target
0   -0.099972 -1.423237       0
1    0.309831  0.137987       0
2   -0.712314 -0.127424       0
3   -1.344237  0.583678       0
4   -0.086974 -0.941683       0
..        ...       ...     ...
952  0.758017  2.143509       1
965  2.147245  2.622738       1
976  0.169895  0.267064       1
942  0.655182  1.306920       1
974  1.673182  1.827702       1

[1800 rows x 3 columns]

In [51]:
dfUpSampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64