# Calculating Mean

In [4]:

a= [112,14,13,16,17,35,45,23,22,12]
import numpy as np
print(int(np.mean(a)))

30

# importing datasaet from seaborn

In [9]:

import seaborn as sns
dataframe=sns.load_dataset('tips')
dataframe.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

# finding the average of total bill

In [10]:

np.mean(dataframe['total_bill'])

np.float64(19.78594262295082)

# Calculating Median

In [11]:
# Calculating Median
a= [112,14,13,16,17,35,45,23,22,12]
import numpy as np
print(int(np.median(a)))

19

# calculating mean on outlayer

In [20]:
a= [112,14,13,16,17,35,45,23,22,12,12,220]
import numpy as np
print(int(np.mean(a)))

45

# calculating median on outlayer

In [15]:
print(int(np.median(a)))

22

# calculating mode

In [16]:
from scipy import stats

In [21]:
stats.mode(a)

ModeResult(mode=np.int64(12), count=np.int64(2))