# working with database part 2

we will need mysql.connector module to deal with the database using python




data base credentials

Host : sql12.freesqldatabase.com

Database name : sql12814497

Database user:  sql12814497

Database password : GldV1JJGv6

Port number : 3306

# Creating a connection

In [56]:
import mysql.connector
from mysql.connector import Error
def createConnection(hostName, userName, userPassword, databaseName):
    connection = None
    try:
        connection=mysql.connector.connect(
            host=hostName,
            user=userName,
            password=userPassword,
            database=databaseName
        )
        print("Connection to the database is succesfull now.")
    except Exception as e:
        print( f"Error ''{e}'' has been occured")
    return connection

# connect to the database
connection=createConnection("sql12.freesqldatabase.com", "sql12814497", "GldV1JJGv6","sql12814497")
#connection.close() #always close the connection after the use

Connection to the database is succesfull now.

In [50]:
connection

# Fetching all the tables

In [66]:

def fetch_tables(connection): # this fetch tables function will take a connection object as parameter
    cursor=connection.cursor() # after connectionn has been established we will create a cursro which will point to the connection
    try:
        cursor.execute("SHOW TABLES") # show table is a query which this cursor/ pointer is running
        tables=cursor.fetchall() # to fetch all the tables
        return tables
    except Exception as e:
        print(f"The error '{e}' has been occured.")
        return None

# fetching all the tables
if connection: # if we get connected
    tables=fetch_tables(connection) # this function will be called
    if tables:
        print("Tables in the database is: ")
        for table in tables:
            print(table)

Tables in the database is:
('test_tableI',)

# creating a new table

In [61]:
# A COMMON QUERY FOR ALL THE BASIC COMMAND
def executeQuery(connection, query):
    cursor=connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query commited succesfully")
    except Exception as e:
        print(f"The error '{e}' has been occured")

# creating a new table
createNewTable="CREATE TABLE IF NOT EXISTS test_tableI(id INT AUTO_INCREMENT,name TEXT NOT NULL,age INT, PRIMARY KEY (id)) ENGINE = InnoDB"
# above command is the sql command wrapped up in a variable and
# this variable will be passed in further query execution function

executeQuery(connection, createNewTable)

Query commited succesfully

# Inserting data into the table

In [70]:
insertData= "INSERT INTO test_tableI (name, age ) VALUES ('Alice', 21 ), ('John', 35)"
executeQuery(connection, insertData)

Query commited succesfully

# Reading data from a table

In [74]:

def readTable(connection, query):
    cursor=connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result= cursor.fetchall()
        return result
    except Exception as e:
        print(f"The error is: {e}")


# now reading that data from the table
select_data="SELECT * FROM test_tableI"
data= readTable(connection, select_data)

print("Data in the test table: ")
for row in data:
    print(row)

Data in the test table:
(1, 'Alice', 33)
(2, 'John', 35)
(3, 'Alice', 33)
(4, 'John', 35)

# Updating the data

In [73]:
updateData= "UPDATE test_tableI SET age=33 WHERE name='Alice'"
executeQuery(connection, updateData)

Query commited succesfully